@font-face {
    font-family: "raleway";
    src: url('police/Raleway-VariableFont_wght.ttf'),
         url('police/Raleway-Italic-VariableFont_wght.ttf');
    src: url('police/static/Raleway-Regular.ttf') format('truetype'),
         url('police/static/Raleway-Thin.ttf') format('truetype'),
         url('police/static/Raleway-ExtraLight.ttf') format('truetype'),
         url('police/static/Raleway-Light.ttf') format('truetype'),
         url('police/static/Raleway-Medium.ttf') format('truetype'),
         url('police/static/Raleway-SemiBold.ttf') format('truetype'),
         url('police/static/Raleway-Bold.ttf') format('truetype'),
         url('police/static/Raleway-ExtraBold.ttf') format('truetype'),
         url('police/static/Raleway-Black.ttf') format('truetype'),
         url('police/static/Raleway-ThinItalic.ttf') format('truetype'),
         url('police/static/Raleway-ExtraLightItalic.ttf') format('truetype'),
         url('police/static/Raleway-LightItalic.ttf') format('truetype'),
         url('police/static/Raleway-Italic.ttf') format('truetype'),
         url('police/static/Raleway-MediumItalic.ttf') format('truetype'),
         url('police/static/Raleway-SemiBoldItalic.ttf') format('truetype'),
         url('police/static/Raleway-BoldItalic.ttf') format('truetype'),
         url('police/static/Raleway-ExtraBoldItalic.ttf') format('truetype'),
         url('police/static/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "raleway", "Arial", "Helvetica", "sans-serif";
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 1440px;
}

a{ /* Liens par défaut (non survolés) */
   text-decoration: none;
   color: black;
}

/* header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    margin-right: 50px;
    margin-left: 50px;
}
header strong{
    color: #0065FC;
}

header #logo{
    flex-basis: 75%;
}
header nav{
    flex-basis: 25%;

}
header nav .topmenu{
    padding: 0px;
    list-style: none;
    display: flex;
}
header nav .topmenu .link_nav{
    text-align: center;
    padding: 0px;
}
header nav .topmenu .link_nav a{
    padding: 30px;
    padding-top: 50px;
}
header nav .topmenu .link_nav a:hover{
    color: #0065FC;
    border-top: #0065FC 1px solid;
}


/* main */
main{
    margin-right: 50px;
    margin-left: 50px;
}

    /* section_search */
main #section_search h1{
    margin-block-start: 0em;
    margin-block-end: 0em;
}
main #section_search p{
    margin-block-start: 0em;
    margin-block-end: 1em;
}
main #section_search .search .filtres{
    margin-block-start: 30px;
}
main #section_search .search .filtres label{
    font-weight: bold;
}
    /* section_results */
#section_results .bloc{
    display: flex;
}
#section_results .bloc #host_marseille{
    background-color: #F2F2F2;
    border-radius: 10px;
    flex-basis: 75%;
    margin-right: 20px;
}
#section_results .bloc #host_marseille h2{
    margin-block-end: 0em;
    padding-left: 40px;
}
#section_results .bloc #host_marseille .cardlist{
    display: flex;
    flex-wrap: wrap;
}
#section_results .bloc #host_marseille .cardlist .card{
    flex-basis: 27%;
    margin: 30px;
    }
#section_results .bloc #host_marseille .cardlist .card a img{
    width: 50%;
}
#section_results .bloc #popularity{
    background-color: #F2F2F2;
    border-radius: 10px;
    flex-basis: 25%;
    margin-left: 20px;
}
#section_results .bloc #popularity h2{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}
#section_results .bloc #popularity .cardlist_popularity{
    margin: 30px;
}
#section_results .bloc #popularity .cardlist_popularity .card_popularity{
    flex-basis: 27%;
    margin: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgrey;
}
#section_results .bloc #popularity img{
    width: 50%;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgrey;
}
.card:hover{
    box-shadow: 3px 3px 5px #0065FC;
}

    /* section activité */
#section_activity .activity{
    display: flex;
}
#section_activity .activity .card_activity{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgrey;
    margin: 20px;
}
#section_activity .activity .card_activity a{
    display: flex;
    flex-direction: column;
}
#section_activity .activity .card_activity img{
    width: 50%;
}

/* footer */
footer{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    padding-bottom: 1em;
}
footer #about{
    flex-basis: 30%;
    margin-left: 50px;
}
footer #hosting{
    flex-basis: 30%;
}
footer #support{
    flex-basis: 30%;
}
footer ul{
    list-style-type: none;
    padding-inline-start: 0em;
}
footer ul li{
    margin-bottom: 0.6em;
}
