#bloc_page{
    max-width: 1350px;
    margin: auto;
}
a /* Liens par défaut (non survolés) */{
   text-decoration: none;
   color: black;
}

/* header */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header a:hover{
    color: #0065FC;
    border-top: #0065FC 1px solid;
}
header strong{
    color: #0065FC;
}
header #logo{
    flex-basis: 75%;
}
header nav{
    flex-basis: 25%;
}
header nav .topmenu{
    padding: 0px;
    list-style: none;
    display: flex;
}
header nav .topmenu .link_nav{
    text-align: center;
    padding: 0px;
}
header nav .topmenu .link_nav a{
    padding: 30px;
}


/* main */

#section2 .bloc{
    display: flex;
}
#section2 #host_marseille{
    background-color: #F2F2F2;
    border-radius: 10px;
    
}
#section2 #host_marseille .cardlist{
    display: flex;
    flex-wrap: wrap;
}
#section2 #host_marseille .cardlist .card{
    flex-basis: 33.33%;
}
#section2 #host_marseille .cardlist .card a{
    display: block;
}
#section2 #host_marseille .cardlist .card a img{
    width: 25%;
}
#popularity{
    background-color: #F2F2F2;
    border-radius: 10px;
}
.card{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgrey;
}
.card:hover{
    box-shadow: 3px 3px 5px #0065FC;
}
.card_activity{
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 15px darkgrey;
}
/* footer */
footer{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
}
footer ul{
    list-style-type: none;
}

