footer{
    background-color: #F2F2F2;
    padding-bottom: 2em;
    margin-top: 2.5em;
    padding-top: 3em;
}
footer .largeur-max{
    display: flex;
}
footer h3{
    margin-block-end: 1.3em;
    font-size: 1.1rem;
}
footer #about{
    flex-basis: 30%;
    margin-left: 1%;
}
footer #hosting{
    flex-basis: 30%;
}
footer #support{
    flex-basis: 30%;
}
footer ul{
    list-style-type: none;
    padding-inline-start: 0em;
}
footer ul li{
    margin-bottom: 0.7em;
}
footer ul li a:hover{
    color: #0065BF;
}

/** version style mobile **/

@media (max-width:767px){
    footer{
        padding-top: 1em;
    }
    footer .largeur-max{
        padding-left: 15px;
        flex-direction: column;
        padding-top: 1.5em;
    }
    footer h3{
        margin-top: 15px;
    }
/*
    footer #about{
        flex-basis: 80%;
    }
    footer #hosting{
        flex-basis: 80%;
    }
    footer #support{
        flex-basis: 80%;
    }
*/
}