.largeur-max{
    max-width: 1330px;
    margin: auto;
}
 
/* section_search */
main #section_search .search .labelsearch{
    display: flex;
}
main #section_search .search .labelsearch i{
    display: flex;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    border-radius: 15px 0 0 15px;
    justify-content: center;
    align-items: center;
}
main #section_search .search .labelsearch ::placeholder{
    color: black;
    font-weight: bold;
    font-size: 1rem;
    font-family: "raleway_bold";
}
main #section_search .search .labelsearch .inputsearch{
    height: 50px;
    padding-left: 20px;
    border: solid 1px #F2F2F2;
    -webkit-appearance: none;
}
main #section_search .search .labelsearch .buttonsearch{
    height: 50px;
    width: 130px;
    background-color: #0065FC;
    color: white;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    font-family: "raleway_bold";
    -webkit-appearance: none;
}
main #section_search .search .labelsearch span.buttonsearch{
    display: none;
    width: 60px;
    border-radius: 15px;
}
main #section_search .search .labelsearch span.buttonsearch i{
    width: initial;
    height: initial;
    background: none;
    font-size: 19px;
    position: relative;
    top: 15px;
}
main #section_search .search .filtres{
    margin-top: 20px;
}
main #section_search .search .filtres strong{
    margin-right: 15px;
}
main #section_search .search .filtres .filters input{
    display: none;
}
main #section_search .search .filtres .filters strong{
    border-radius: 50px;
    border: solid 2px #F2F2F2;
    padding-top: 13px;
    padding-bottom: 13px;
    margin-right: 2em; 
}
main #section_search .search .filtres .filters strong span{
    padding-right: 1em;
    padding-right: 1em;
}
main #section_search .search .filtres .filters input:checked + strong{
    border: solid 2px #0065fc;
    background-color: #DEEBFF;
}
main #section_search .search .filtres .filters strong:hover{
    border: solid 2px #0065fc;
}
main #section_search .search .filtres .filters strong i{
    border-radius: 50px;
    background-color: #DEEBFF;
    color: #0065fc;
    padding: 13px;
}

    /* section_results */
#section_results p i{
    color: #0065fc;
    border-radius: 50px;
    border: solid 2px #F2F2F2;
    width: 18px;
    height: 18px;
    font-size: 0.83em;
    text-align: center;
}
#section_results .bloc{
    display: flex;
}
#section_results .bloc #host_marseille{
    background-color: #F2F2F2;
    border-radius: var(--border-radius-value);
    flex-basis: 75%;
    margin-right: 20px;
    flex-wrap: wrap;
}
#section_results .bloc #host_marseille .show-more {
    font-weight: 600;
    flex-basis: 96%;
    margin: 0px;
    font-size: 1.2rem;
    position: relative;
    top: 35px;
}
#section_results .bloc #host_marseille h2{
    flex-basis: 95%;
    margin: 0px;
}
#section_results .bloc #host_marseille .cardlist_host{
    display: flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    min-height: 580px;
}
#section_results .bloc #host_marseille .cardlist_host .card{
    background-color: white;
    border-radius: var(--border-radius-value);
    box-shadow: 10px 10px 15px #e2e2e2;
    max-width: 270px;
    min-width: 260px;
    height: 220px;
}
#section_results .bloc #host_marseille .cardlist_host .card .logements{
    display: block;
    padding: 5px;
    height: 210px;
}
#section_results .bloc #host_marseille .cardlist_host .card .logements .img-desc{
    max-width: 270px;
    height: 145px;
    overflow: hidden;
    border-top-left-radius: var(--border-radius-value);
    border-top-right-radius: var(--border-radius-value);
}
#section_results .bloc #host_marseille .cardlist_host .card .logements .desc p{
    margin: 5px 0px
}
#section_results .bloc #host_marseille .cardlist_host .card .logements .desc{
    padding: 0px 10px;
    margin-top: -15px;
}
#section_results .bloc #host_marseille .cardlist_host .card .logements .img-desc img{
    width: 102%;
    height: 82%;
    object-fit: cover;
}
#section_results .bloc #popularity{
    background-color: #F2F2F2;
    border-radius: var(--border-radius-value);
    flex-basis: 25%;
    margin-left: 20px;
}
#section_results .bloc #popularity h2{
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
#section_results .bloc #popularity .cardlist_popularity{
    margin: 30px;
}
#section_results .bloc #popularity .cardlist_popularity .card_popularity{
    background-color: white;
    border-radius: var(--border-radius-value);
    box-shadow: 10px 10px 15px #e2e2e2;
    display: flex;
    margin-bottom: 30px;
    padding: 10px;
}
#section_results .bloc #popularity .cardlist_popularity .card_popularity .image{
    flex-basis: 30%;
    border-top-left-radius: var(--border-radius-value);
    border-bottom-left-radius: var(--border-radius-value);
    overflow: hidden;
}
#section_results .bloc #popularity .cardlist_popularity .card_popularity .image a{
    display: block;
    width: 220px;
    height: 245px;
    overflow: hidden;
    height: 145px;
}
#section_results .bloc #popularity .cardlist_popularity .card_popularity .image a img{
    object-fit: cover;
    height: 100%;
    position: relative;
    left: -80px;
}
#section_results .bloc #popularity .cardlist_popularity .card_popularity .image.last a img{
    left: 0px;
    width: 100%;
}
#section_results .bloc #popularity .cardlist_popularity .card_popularity .description{
    flex-basis: 70%;
    padding-left: 10px;
    position: relative;
}
#section_results .bloc #popularity .cardlist_popularity .card_popularity .description .stars{
    position: absolute;
    bottom: 10px;
}

#section_results .bloc #popularity .cardlist_popularity .card_popularity:hover{
    box-shadow: 3px 3px 5px #0065FC;
}

#section_results .bloc #host_marseille .cardlist_host .card:hover{
    box-shadow: 3px 3px 5px #0065FC;
}
.bloc .stars{
    color: #0065FC;
}
.bloc .stars_none{
    color: #d9d9d9;
}

    /* section activité */
#section_activity h2{
    margin-top: 50px;
    margin-bottom: 20px;
}
#section_activity .activity{
    display: flex;
    justify-content: space-between;
    align-content: space-evenly;
}
#section_activity .activity .card_activity{
    background-color: white;
    border-radius: var(--border-radius-value);
    box-shadow: 10px 10px 15px #e2e2e2;
    max-width: 295px;
    min-width: 250px;
    overflow: hidden;
    border: 1px solid #ccc;
    height: fit-content;
}
#section_activity .activity .card_activity .image_activity{
    min-height: 400px;
    max-height: 400px;
    overflow: hidden;
}
#section_activity .activity .card_activity2{
    max-width: 295px;
    min-width: 250px;
    min-height: 405px;
    overflow: hidden;
    max-height: 452px;
}
#section_activity .activity .card_activity2.last .card_activityduo.NDG{
    height: 42%;
}
#section_activity .activity .card_activity2.last .card_activityduo.NDG .image_activity{
    overflow: hidden;
    height: 145px;
}
#section_activity .activity .card_activity2.last .card_activityduo img{
    bottom: 0%;
}
#section_activity .activity .card_activity2.last .card_activityduo:last-child{
    height: 47%;
}
#section_activity .activity .card_activity2.last .card_activityduo:last-child img{
    bottom: 10px;
}
#section_activity .activity .card_activity2.last .card_activityduo:last-child h3{
    padding-top: 15px;
}
#section_activity .activity .card_activityduo{
    background-color: white;
    border-radius: var(--border-radius-value);
    padding-bottom: 10px;
    overflow: hidden;
    margin-bottom: 35px;
    position: relative;
    box-shadow: 10px 10px 15px #e2e2e2;
    border: 1px solid #ccc;
}
#section_activity .activity .card_activityduo:last-child{
    margin-bottom: 0px;
    padding: 0px;
}
#section_activity .activity .card_activityduo:last-child .title-activity{
    position: initial;
}
#section_activity .activity .card_activity:hover{
    box-shadow: 3px 3px 5px #0065FC;
}
#section_activity .activity .card_activity2 .card_activityduo:hover{
    box-shadow: 3px 3px 5px #0065FC;
}
#section_activity .activity .card_activity a{
    display: block;
    height: 100%;
}
#section_activity .activity .card_activityduo a{
        display: block;
        height: 240px;
    }
#section_activity .activity  .card_activityduo.FP .image_activity{
    height: 82%;
    overflow: hidden;
}
#section_activity .activity .card_activityduo:last-child a{
    height: 162px;
    box-shadow: 10px 10px 15px #e2e2e2;
    border: 1px solid #ccc;
}
#section_activity .activity .card_activity2.last .card_activityduo:last-child a {
    height: 228px;
}
#section_activity .activity .card_activityduo:last-child .image_activity{
    height: 71%;
    overflow: hidden;
}
#section_activity .activity .card_activityduo:last-child img{
    bottom: 15px;
}
#section_activity .activity .card_activity img{
    position: relative;
    left: -212px;
}
#section_activity .activity .card_activity .image_activity.PNC img{
    left: -150px;
}
#section_activity .activity .card_activity .title-activity{
    padding: 15px 15px;
}
#section_activity .activity .card_activityduo img{
    width: 100%;
    position: relative;
    bottom:45%;
}
#section_activity .activity .card_activityduo .title-activity{
    padding: 15px 15px;
}
:root{
    --border-radius-value: 15px;
}

@media (max-width:767px){
    
    .largeur-max{
        max-width: 1330px;
        margin: auto;
    }
    main #section_search{
        margin-top: 35px;
        margin-bottom: 25px;
        margin-left: 15px;
    }
    main #section_search h1{
        width: 100%;
    }
    main #section_search p{
        margin-bottom: 35px;
    }
    main #section_search .search .labelsearch span.buttonsearch{
        display: block;
    }
    main #section_search .search .labelsearch .buttonsearch{
        display: none;
    }
    main #section_search .search .filtres strong{
        display: block;
        margin-bottom: 12px;
    }
    main #section_search .search .filtres .filters{
        display: inline-flex;
    }
    main #section_search .search .filtres .filters:last-child{
        width: 70%;
    }
    main #section_search .search .filtres .filters strong{
        padding-top: 1px; 
        padding-bottom: 1px; 
        margin-right: 0em;
    }

    main #section_results p{
        margin-left: 15px;
    }
    main #section_results .bloc{
        flex-direction: column-reverse;
    }
    main #section_results .bloc #popularity{
        margin-left: -15px;
        border-radius: initial;
    }
    main #section_results .bloc #popularity p{
        margin-left: auto;
    }
    main #section_results .bloc #host_marseille{
        margin-right: 0px;
        margin-top: 25px;
        background: none;
        margin-left: -15px;
    }
    main #section_results .bloc #host_marseille .cardlist_host{
        align-content: start;
        justify-content: start;
    }
    main #section_results .bloc #host_marseille h2{
        margin-bottom: 25px;
        margin-left: 30px;
    }
    main #section_results .bloc #host_marseille .show-more {
        margin-left: 30px;
        top: 0px;
    }
    main #section_activity{
        margin-left: 15px;
    }
    main #section_activity .activity{
        display: block;
    }
    main #section_activity .activity .card_activity {
        max-width: 97%;
        height: 192px;
        margin-bottom: 25px;
        width: 97%;
    }
    main #section_activity .activity .card_activity h3{
        position: relative;
        bottom: 256px;
        background: white;
    }
    main #section_activity .activity .card_activity a{
        height: 190px;
    }
    #section_activity .activity .card_activity .image_activity {
        position: relative;
        bottom: 32px;
    }
    main #section_activity .activity .card_activity img {
        bottom: -5px;
        left: 0px;
        height: 100%;
        width: 100%;
    }
    main #section_activity .activity .card_activity2{
        min-height: initial;
        max-height: initial;
        max-width: 97%;
        width: 97%;
    }
    main #section_activity .activity .card_activityduo{
        height: 182px;
    }
    #section_activity .activity .card_activityduo a{
        height: 216px;
        margin-bottom: 25px;
    }
    #section_activity .activity .card_activityduo img {
        width: 100%;
        position: relative;
        bottom: 100%;
    }
    #section_activity .activity .card_activityduo .title-activity{
        position: relative;
        bottom: 40px;
        background-color: white;
    }
    #section_activity .activity .card_activityduo:last-child {
        margin-bottom: 25px;
        height: 192px;
    }
    #section_activity .activity .card_activityduo:last-child a {
        height: 194px;
    }
    #section_activity .activity .card_activityduo:last-child .image_activity {
        height: 91%;
        position: relative;
        bottom: 5px;
    }
    #section_activity .activity .card_activityduo:last-child .title-activity {
        position: relative;
        top: -35px;
    }
    #section_activity .activity .card_activity .image_activity.PNC {
        position: relative;
        bottom: 26px;
        left: 150px;
        overflow: initial;
    }
    #section_activity .activity .card_activity:last-child .title-activity {
        position: relative;
        bottom: 100px;
    }
    #section_activity .activity .card_activity2.last .card_activityduo.NDG{
        height: 194px;
    }
    #section_activity .activity .card_activityduo.NDG .title-activity {
        bottom: 0px;
    }
    #section_activity .activity .card_activity2.last .card_activityduo:last-child{
        height: 192px;
    }
    #section_activity .activity .card_activity2.last .card_activityduo:last-child a{
        height: 192px;
    }
    #section_activity .activity .card_activity2.last .card_activityduo:last-child a .image_activity{
        position: relative;
        bottom: 23px;
    }
    #section_activity .activity .card_activity2.last .card_activityduo:last-child img {
        bottom: 10px;
    }
    #section_activity .activity .card_activity2.last .card_activityduo:last-child h3{
        position: relative;
        top: -37px;
    }

    main #section_activity .activity .card_activity2.last{
        height: initial;
        max-height: initial;
        min-height: initial;    
    }
    #section_results .bloc #popularity .cardlist_popularity .card_popularity .image a img{
        left: 0px;
    }
    main #section_results .bloc #host_marseille .cardlist_host .card{
        width: 94%;
        max-width: 94%;
        margin: 0px 10px 25px 25px;
    }
    main #section_results .bloc #host_marseille .cardlist_host .card .logements .img-desc{
        max-width: initial;
        margin: auto;
    }
    #section_results .bloc #host_marseille .cardlist_host .card .logements .img-desc img{
        width: 100%;
    }
    #section_results .bloc #popularity h2{
        padding-left: 30px;
        padding-right: 13px;
        margin-bottom: 15px;
    }
    #section_results .bloc #popularity .cardlist_popularity{
        margin: 0px 10px 0px 20px;
    }
}
@media (max-width:767px) and (orientation: landscape){
    #section_results .bloc #popularity h2 {
        padding-right: 25px;
    }
    #section_results .bloc #popularity .cardlist_popularity{
        margin: 0px 0px 0px 20px;
    }
    
    #section_results .bloc #popularity .cardlist_popularity .card_popularity{
        margin-right: 25px;
    }
    #section_results .bloc #popularity .cardlist_popularity .card_popularity .image a img{
        left: 0px;
    }
    main #section_results .bloc #host_marseille .cardlist_host .card{
        margin-left: 18px;
        margin-right: 18px;
    }
    main #section_results .bloc #host_marseille .cardlist_host .card .logements .img-desc{
        max-width: 97%;
        margin: auto;
    }
    main #section_activity .activity .card_activity img{
        bottom: 115px;
    }
    #section_activity .activity .card_activityduo img{
        bottom:220%
    }
    #section_activity .activity .card_activityduo:last-child img{
        bottom: 110px;
    }
    #section_activity .activity .card_activity .image_activity.PNC img {
        bottom: 155px;
    }
    #section_activity .activity .card_activity2.last .card_activityduo img {
        bottom: 40%;
    }
    #section_activity .activity .card_activity2.last .card_activityduo:last-child img {
        bottom: 118px;
    }
}

@media (min-width:768px) and (max-width:1024px){
    
    main #section_search .search .filtres .filters{
        display: inline-flex;
    }
    main #section_search .search .filtres .filters strong{
        padding-top: 0px;
        padding-bottom: 0px;
        margin-bottom: 15px;
    }
    #section_results .bloc{
        flex-direction: column-reverse;
    }
    #section_results .bloc #popularity {
        flex-basis: 100%;
        margin-left: 0px;
    }
    #section_results .bloc #popularity .cardlist_popularity{
        margin-top: 30px;
    }
    #section_results .bloc #popularity .cardlist_popularity .card_popularity{
        flex-basis: 25%;
    }
    #section_results .bloc #popularity .cardlist_popularity .card_popularity .image a img{
        left: 0px;
    }
    #section_results .bloc #host_marseille{
        flex-basis: 100%;
        margin-right: 0px;
    }
    #section_results .bloc #host_marseille h2 {
        flex-basis: 97%;
        margin: 0px;
    }
    #section_results .bloc #host_marseille .cardlist_host{
        height: 820px;
    }
    #section_results .bloc #host_marseille .cardlist_host .card{
        width: 48%;
        max-width: 48%;
    }
    #section_results .bloc #host_marseille .cardlist_host .card .logements .img-desc{
        width: 100%;
        max-width: 100%;
    }
    #section_results .bloc #host_marseille .show-more{
        top: 5px;
    }
    #section_activity .activity{
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #section_activity .activity .card_activity{
        max-width: 47%;
        width: 47%;
        margin-bottom: 30px;
    }
    #section_activity .activity .card_activity2{
        max-width: 47%;
        width: 47%; 
    }
    #section_activity .activity .card_activityduo img{
        bottom: 70%;
    }
    #section_activity .activity .card_activityduo:last-child img {
        bottom: 35%;
    }
}
@media (min-width:768px) and (max-width:1024px) and (orientation: landscape){
    #section_activity .activity .card_activityduo img{
        bottom: 100%;
    }
    #section_activity .activity .card_activityduo:last-child img {
        bottom: 80px;
    }
    #section_activity .activity .card_activity2.last .card_activityduo:last-child img {
        bottom: 75px;
    }
}
